In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Casos_Diarios_Estado_Nacional_Defunciones_20210621.csv')

In [4]:
df

,cve_ent,poblacion,nombre,20-01-2020,21-01-2020,22-01-2020,23-01-2020,24-01-2020,25-01-2020,26-01-2020,...,11-06-2021,12-06-2021,13-06-2021,14-06-2021,15-06-2021,16-06-2021,17-06-2021,18-06-2021,19-06-2021,20-06-2021
0,1,1434635,AGUASCALIENTES,0,0,0,0,0,0,0,...,1,1,2,1,2,0,0,0,0,0
1,2,3634868,BAJA CALIFORNIA,0,0,0,0,0,0,0,...,4,1,3,0,1,4,6,2,0,1
2,3,804708,BAJA CALIFORNIA SUR,0,0,0,0,0,0,0,...,6,2,1,3,1,4,2,0,0,0
3,4,1000617,CAMPECHE,0,0,0,0,0,0,0,...,0,0,4,3,0,1,1,3,1,1
4,7,5730367,CHIAPAS,0,0,0,0,0,0,0,...,0,0,1,1,1,2,1,1,0,1
5,8,3801487,CHIHUAHUA,0,0,0,0,0,0,0,...,4,2,1,4,3,2,0,1,0,0
6,9,9018645,DISTRITO FEDERAL,0,0,0,0,0,0,0,...,7,5,3,8,5,6,9,3,2,0
7,5,3218720,COAHUILA,0,0,0,0,0,0,0,...,4,0,1,0,0,1,0,0,0,0
8,6,785153,COLIMA,0,0,0,0,0,0,0,...,1,1,0,1,1,0,0,0,0,0
9,10,1868996,DURANGO,0,0,0,0,0,0,0,...,2,0,1,0,1,0,0,0,0,0
10,11,6228175,GUANAJUATO,0,1,0,0,0,0,0,...,2,1,0,0,2,0,1,1,0,0
11,12,3657048,GUERRERO,0,0,0,0,0,0,0,...,2,3,2,5,3,2,0,0,0,2
12,13,3086414,HIDALGO,0,0,0,0,0,0,0,...,2,1,1,0,1,4,1,0,0,0
13,14,8409693,JALISCO,0,0,0,0,0,0,0,...,0,2,3,0,3,1,1,2,0,2
14,15,17427790,MEXICO,0,0,0,0,0,0,0,...,8,4,3,3,6,4,4,3,4,1
15,16,4825401,MICHOACAN,0,0,0,0,0,0,0,...,1,3,4,3,1,2,1,0,2,0
16,17,2044058,MORELOS,0,0,0,0,0,0,0,...,1,0,3,2,0,0,0,1,0,0
17,18,1288571,NAYARIT,0,0,0,0,0,0,0,...,2,0,0,1,3,1,1,0,0,0
18,19,5610153,NUEVO LEON,0,0,0,0,0,0,0,...,1,2,2,2,2,4,2,0,0,0
19,20,4143593,OAXACA,0,0,0,0,0,0,0,...,2,1,1,1,2,0,0,1,1,1
20,21,6604451,PUEBLA,0,0,0,0,0,0,0,...,4,5,8,4,7,4,4,3,0,0
21,22,2279637,QUERETARO,0,0,0,0,0,0,0,...,0,2,1,1,0,0,0,0,0,0
22,23,1723259,QUINTANA ROO,0,0,0,0,0,0,0,...,10,5,5,7,5,6,10,4,5,3
23,24,2866142,SAN LUIS POTOSI,0,0,0,0,0,0,0,...,1,0,1,0,0,2,0,1,0,0
24,25,3156674,SINALOA,0,0,0,0,0,0,0,...,3,0,1,2,2,2,1,0,0,0
25,26,3074745,SONORA,0,0,0,0,0,0,0,...,2,1,2,4,7,2,1,2,0,0
26,27,2572287,TABASCO,0,0,0,0,0,0,0,...,3,6,4,2,2,2,2,1,1,2
27,28,3650602,TAMAULIPAS,0,0,0,0,0,0,0,...,2,7,4,6,2,5,6,4,1,1
28,29,1380011,TLAXCALA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,30,8539862,VERACRUZ,0,0,0,0,0,0,0,...,5,1,1,1,2,5,1,0,0,0
30,31,2259098,YUCATAN,0,0,0,0,0,0,0,...,10,0,8,9,13,4,11,5,11,4
31,32,1666426,ZACATECAS,0,0,0,0,0,0,0,...,0,0,0,1,1,1,0,0,0,0
32,0,127792286,Nacional,0,1,0,0,0,0,0,...,90,56,71,75,79,71,66,38,28,19

here we remove the "nacional" element

In [5]:
df = df.query("nombre != 'Nacional'")

In [6]:
df

,cve_ent,poblacion,nombre,20-01-2020,21-01-2020,22-01-2020,23-01-2020,24-01-2020,25-01-2020,26-01-2020,...,11-06-2021,12-06-2021,13-06-2021,14-06-2021,15-06-2021,16-06-2021,17-06-2021,18-06-2021,19-06-2021,20-06-2021
0,1,1434635,AGUASCALIENTES,0,0,0,0,0,0,0,...,1,1,2,1,2,0,0,0,0,0
1,2,3634868,BAJA CALIFORNIA,0,0,0,0,0,0,0,...,4,1,3,0,1,4,6,2,0,1
2,3,804708,BAJA CALIFORNIA SUR,0,0,0,0,0,0,0,...,6,2,1,3,1,4,2,0,0,0
3,4,1000617,CAMPECHE,0,0,0,0,0,0,0,...,0,0,4,3,0,1,1,3,1,1
4,7,5730367,CHIAPAS,0,0,0,0,0,0,0,...,0,0,1,1,1,2,1,1,0,1
5,8,3801487,CHIHUAHUA,0,0,0,0,0,0,0,...,4,2,1,4,3,2,0,1,0,0
6,9,9018645,DISTRITO FEDERAL,0,0,0,0,0,0,0,...,7,5,3,8,5,6,9,3,2,0
7,5,3218720,COAHUILA,0,0,0,0,0,0,0,...,4,0,1,0,0,1,0,0,0,0
8,6,785153,COLIMA,0,0,0,0,0,0,0,...,1,1,0,1,1,0,0,0,0,0
9,10,1868996,DURANGO,0,0,0,0,0,0,0,...,2,0,1,0,1,0,0,0,0,0
10,11,6228175,GUANAJUATO,0,1,0,0,0,0,0,...,2,1,0,0,2,0,1,1,0,0
11,12,3657048,GUERRERO,0,0,0,0,0,0,0,...,2,3,2,5,3,2,0,0,0,2
12,13,3086414,HIDALGO,0,0,0,0,0,0,0,...,2,1,1,0,1,4,1,0,0,0
13,14,8409693,JALISCO,0,0,0,0,0,0,0,...,0,2,3,0,3,1,1,2,0,2
14,15,17427790,MEXICO,0,0,0,0,0,0,0,...,8,4,3,3,6,4,4,3,4,1
15,16,4825401,MICHOACAN,0,0,0,0,0,0,0,...,1,3,4,3,1,2,1,0,2,0
16,17,2044058,MORELOS,0,0,0,0,0,0,0,...,1,0,3,2,0,0,0,1,0,0
17,18,1288571,NAYARIT,0,0,0,0,0,0,0,...,2,0,0,1,3,1,1,0,0,0
18,19,5610153,NUEVO LEON,0,0,0,0,0,0,0,...,1,2,2,2,2,4,2,0,0,0
19,20,4143593,OAXACA,0,0,0,0,0,0,0,...,2,1,1,1,2,0,0,1,1,1
20,21,6604451,PUEBLA,0,0,0,0,0,0,0,...,4,5,8,4,7,4,4,3,0,0
21,22,2279637,QUERETARO,0,0,0,0,0,0,0,...,0,2,1,1,0,0,0,0,0,0
22,23,1723259,QUINTANA ROO,0,0,0,0,0,0,0,...,10,5,5,7,5,6,10,4,5,3
23,24,2866142,SAN LUIS POTOSI,0,0,0,0,0,0,0,...,1,0,1,0,0,2,0,1,0,0
24,25,3156674,SINALOA,0,0,0,0,0,0,0,...,3,0,1,2,2,2,1,0,0,0
25,26,3074745,SONORA,0,0,0,0,0,0,0,...,2,1,2,4,7,2,1,2,0,0
26,27,2572287,TABASCO,0,0,0,0,0,0,0,...,3,6,4,2,2,2,2,1,1,2
27,28,3650602,TAMAULIPAS,0,0,0,0,0,0,0,...,2,7,4,6,2,5,6,4,1,1
28,29,1380011,TLAXCALA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,30,8539862,VERACRUZ,0,0,0,0,0,0,0,...,5,1,1,1,2,5,1,0,0,0
30,31,2259098,YUCATAN,0,0,0,0,0,0,0,...,10,0,8,9,13,4,11,5,11,4
31,32,1666426,ZACATECAS,0,0,0,0,0,0,0,...,0,0,0,1,1,1,0,0,0,0

In [7]:
df.nlargest((10), 'poblacion')

,cve_ent,poblacion,nombre,20-01-2020,21-01-2020,22-01-2020,23-01-2020,24-01-2020,25-01-2020,26-01-2020,...,11-06-2021,12-06-2021,13-06-2021,14-06-2021,15-06-2021,16-06-2021,17-06-2021,18-06-2021,19-06-2021,20-06-2021
14,15,17427790,MEXICO,0,0,0,0,0,0,0,...,8,4,3,3,6,4,4,3,4,1
6,9,9018645,DISTRITO FEDERAL,0,0,0,0,0,0,0,...,7,5,3,8,5,6,9,3,2,0
29,30,8539862,VERACRUZ,0,0,0,0,0,0,0,...,5,1,1,1,2,5,1,0,0,0
13,14,8409693,JALISCO,0,0,0,0,0,0,0,...,0,2,3,0,3,1,1,2,0,2
20,21,6604451,PUEBLA,0,0,0,0,0,0,0,...,4,5,8,4,7,4,4,3,0,0
10,11,6228175,GUANAJUATO,0,1,0,0,0,0,0,...,2,1,0,0,2,0,1,1,0,0
4,7,5730367,CHIAPAS,0,0,0,0,0,0,0,...,0,0,1,1,1,2,1,1,0,1
18,19,5610153,NUEVO LEON,0,0,0,0,0,0,0,...,1,2,2,2,2,4,2,0,0,0
15,16,4825401,MICHOACAN,0,0,0,0,0,0,0,...,1,3,4,3,1,2,1,0,2,0
19,20,4143593,OAXACA,0,0,0,0,0,0,0,...,2,1,1,1,2,0,0,1,1,1

In [8]:
mpstates = df.nlargest((10), 'poblacion')

The 10 most populated states in Mexico are...

In [9]:
mpstates

,cve_ent,poblacion,nombre,20-01-2020,21-01-2020,22-01-2020,23-01-2020,24-01-2020,25-01-2020,26-01-2020,...,11-06-2021,12-06-2021,13-06-2021,14-06-2021,15-06-2021,16-06-2021,17-06-2021,18-06-2021,19-06-2021,20-06-2021
14,15,17427790,MEXICO,0,0,0,0,0,0,0,...,8,4,3,3,6,4,4,3,4,1
6,9,9018645,DISTRITO FEDERAL,0,0,0,0,0,0,0,...,7,5,3,8,5,6,9,3,2,0
29,30,8539862,VERACRUZ,0,0,0,0,0,0,0,...,5,1,1,1,2,5,1,0,0,0
13,14,8409693,JALISCO,0,0,0,0,0,0,0,...,0,2,3,0,3,1,1,2,0,2
20,21,6604451,PUEBLA,0,0,0,0,0,0,0,...,4,5,8,4,7,4,4,3,0,0
10,11,6228175,GUANAJUATO,0,1,0,0,0,0,0,...,2,1,0,0,2,0,1,1,0,0
4,7,5730367,CHIAPAS,0,0,0,0,0,0,0,...,0,0,1,1,1,2,1,1,0,1
18,19,5610153,NUEVO LEON,0,0,0,0,0,0,0,...,1,2,2,2,2,4,2,0,0,0
15,16,4825401,MICHOACAN,0,0,0,0,0,0,0,...,1,3,4,3,1,2,1,0,2,0
19,20,4143593,OAXACA,0,0,0,0,0,0,0,...,2,1,1,1,2,0,0,1,1,1

In [10]:
df2 = pd.read_csv('Casos_Diarios_Municipio_Defunciones_20210621.csv')

In [11]:
df2

,cve_ent,poblacion,nombre,20-01-2020,21-01-2020,22-01-2020,23-01-2020,24-01-2020,25-01-2020,26-01-2020,...,11-06-2021,12-06-2021,13-06-2021,14-06-2021,15-06-2021,16-06-2021,17-06-2021,18-06-2021,19-06-2021,20-06-2021
0,16046,15290,Juarez,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,16047,22358,Jungapeo,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,16048,5862,Lagunillas,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,16049,18769,Madero,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5035,744247,Torreon,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452,32053,13945,Villa Gonzalez Ortega,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2453,32054,20177,Villa Hidalgo,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2454,32055,31804,Villanueva,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2455,32056,155533,Zacatecas,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2456,32058,2855,Santa Maria de la Paz,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df2.nlargest((10), 'poblacion')

,cve_ent,poblacion,nombre,20-01-2020,21-01-2020,22-01-2020,23-01-2020,24-01-2020,25-01-2020,26-01-2020,...,11-06-2021,12-06-2021,13-06-2021,14-06-2021,15-06-2021,16-06-2021,17-06-2021,18-06-2021,19-06-2021,20-06-2021
995,9007,1815551,Iztapalapa,0,0,0,0,0,0,0,...,2,0,2,0,0,0,1,0,0,0
439,2004,1789531,Tijuana,0,0,0,0,0,0,0,...,1,0,2,0,0,1,0,1,0,1
1228,15033,1707754,Ecatepec de Morelos,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1930,21114,1698509,Puebla,0,0,0,0,0,0,0,...,1,2,2,3,6,2,2,1,0,0
752,11020,1679610,Leon,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
988,14039,1503505,Guadalajara,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,2
650,8037,1464930,Juarez,0,0,0,0,0,0,0,...,2,0,0,2,1,1,0,0,0,0
31,14120,1433360,Zapopan,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
993,9005,1176967,Gustavo A. Madero,0,0,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,0
1209,15058,1135786,Nezahualcoyotl,0,0,0,0,0,0,0,...,1,0,1,0,0,1,1,0,1,0

In [13]:
mpmunicip = df2.nlargest((10), 'poblacion')

The 10 most populated municipalities in mexico are...

In [14]:
mpmunicip

,cve_ent,poblacion,nombre,20-01-2020,21-01-2020,22-01-2020,23-01-2020,24-01-2020,25-01-2020,26-01-2020,...,11-06-2021,12-06-2021,13-06-2021,14-06-2021,15-06-2021,16-06-2021,17-06-2021,18-06-2021,19-06-2021,20-06-2021
995,9007,1815551,Iztapalapa,0,0,0,0,0,0,0,...,2,0,2,0,0,0,1,0,0,0
439,2004,1789531,Tijuana,0,0,0,0,0,0,0,...,1,0,2,0,0,1,0,1,0,1
1228,15033,1707754,Ecatepec de Morelos,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1930,21114,1698509,Puebla,0,0,0,0,0,0,0,...,1,2,2,3,6,2,2,1,0,0
752,11020,1679610,Leon,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
988,14039,1503505,Guadalajara,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,2
650,8037,1464930,Juarez,0,0,0,0,0,0,0,...,2,0,0,2,1,1,0,0,0,0
31,14120,1433360,Zapopan,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
993,9005,1176967,Gustavo A. Madero,0,0,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,0
1209,15058,1135786,Nezahualcoyotl,0,0,0,0,0,0,0,...,1,0,1,0,0,1,1,0,1,0